{% extends "base/info-python.html" %}
<!--extends base/base.html-->
{% load socialaccount %}
{% providers_media_js %}
{% block contenido %}

	<center>
		<h2>Iniciar Sesion</h2>
	</center>
	<div class="album py-5 bg-light">
		<div class="container">
			<!--En esta linea iba un div class "row" cambia de posicion el formulario y su pone hacia la izquierda-->
			<!--Cambie por un left y tambien cambio el form de registro de users-->
			<!--<div class="left">-->
				<div class="bd-example">
					<div class="col">
						<form method="POST">{% csrf_token %}
							<div class="card-body">
								<div class="form-group">
									<div class="mb-3">
										<label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
										<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre de usuario" id="username" name="username">
									</div>

									<div class="mb-3">
										<label for="exampleInputPassword1" class="form-label">Contraseña</label>
										<input type="password" class="form-control" id="password" name="password" placeholder="Ingrese contraseña">
									</div>
									<center>
										<button type="submit" class="btn btn-primary">Iniciar Sesion</button>
										<a class="btn btn-info" href="{% url 'usuarios:registro' %}">Registrarse</a>
										<a class="btn btn-danger" href="{% url 'principal' %}">Cancelar</a> <br><br>
										<a class="btn btn-danger" href="{% provider_login_url 'google' %}">Iniciar Sesion con Google</a>
									</center>
								</div>
							</div>
						</form>
					</div>
				</div>
			<!--</div>-->
		</div>
	</div>
{% endblock contenido %}
