{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Estructura de Control Condicionales</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/condicionales.css">
</head>
<body>
	<header>
		<h1>Estructura de Control Condicionales</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Introducción</h2>
			</center>
			<div class="container">
				<ul>
					<img src="{% static 'img/parablog2.jpg'%}" class="left"> <!--Ver despues por que no se actualiza-->
					<p>
						Si un programa sólo ejecutara instrucciones planas, unas tras otra <br>
						no serviría de mucho. Pues, el hecho que las acciones se ejecuten <br>
						secuncialmente implica que nunca se ejecutara más de una acción al mismo <br>
						tiempo.
					</p>
					<p>
						Por suerte ahí es donde aparecen las estructuras de control, las cuales van a <br>
						permitir que <strong>el flujo del programa se adapte y sepa cómo actuar ante <br>
						determinadas situaciones e incluso repetir una tarea si es necesario.</strong>
					</p>
				</ul>
			</div>
		</article>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Mas Ejemplos de Condicionales</h2>
				<ul>
					<img src="{% static 'img/parablog3.jpg'%}">
				</ul>
				<p>
					<strong>No todos los problemas pueden resolverse empleando estrucutras secuenciales. <br>
					Cuando hay que tomar una decisión aparecen las estructuras condicionales.</strong>
					<ul>
						<img src="{% static 'img/parablog4.jpg'%}">
					</ul>
				</p>
				<p>
					De hecho, en nuestra vida diaria se nos presentan situaciones donde <br>
					debemos decidir.
					<ul>
						<li>¿Elijo la carrera A o la carrera B?</li>
						<li>¿Me pongo este pantalón?</li>
						<li>Para ir al trabajo, ¿elijo el camino A o el camino B?</li>
						<li>Hoy veamos una peli, ¿cuál la 1 o la 2?</li>
					</ul>
				</p>
				<h2 style="color: #C66250;">¿Comó funciona?</h2>
				<p>
					En las estructuras condicionales, se realiza una evaluación de una condición y de acuerdo al <br>
					resultado, el programa realiza una determinada acción. <br>
					Las condiciones son especificadas utilizando expresiones lógicas.
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<p>
					<strong>A partir de aquí te recomendamos ir probando las sentencias de ejemplo <br>
					para que te sea más fácil comprobar su funcionamiento.</strong>
				</p>
				<!--Sigue... seguir modificando despues, ver tambien el tema del padding; y tambien su archivo css del mismo-->
			</center>
		</article>
	</section>
</body>
</html>