{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diccionarios</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/diccionarios.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<header>
		<h1>Diccionarios</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Diccionarios en Python</h2>
				<p>
					En Python, un <strong>diccionario</strong> es una colección no ordena de valores que son accedidos <br>
					a traves de keys (llaves o claves).
				</p>
			</center>
			<br><br>
			<ul>
				<ul>
					<img src="{% static 'img/parablog88.jpg'%}" class="left" alt="Info-Python-blog" height="400px">
					<p>
						Las keys o llaves deben ser únicas, si se asignan un valor a <br>
						una llave ya existente, se reemplaza el valor anterior. 
					</p>
				</ul>
				<p>
					A diferencia de las listas o tuplas que se acceden a los elementos mediante el índice numérico. <br><br>
					<strong>Los diccionarios son mutables</strong>, por lo tanto se pueden <strong>modificar, agregar o quitar</strong><br>
					elementos. <br><br>
					Para crear diccionarios <strong>encerramos</strong> los elementos y sus keys entre { }, los elementos <br>
					tendría la estructura <strong>clave:valor</strong> y cada uno de los elementos deben estar separados <br>
					por coma. <br><br>
					Las keys/claves pueden ser de cualquier tipo inmutable, y los valores pueden ser de <br>
					cualquier tipo. <br><br>
					Veamos algunos ejemplos: 
				</p>
				<ul>
					<img src="{% static 'img/parablog89.jpg'%}" alt="Info-Python-blog" height="600px">
				</ul>
				<br>
				<p>
					Para acceder a los elementos utilizamos la clave del diccionario.
				</p>
				<ul>
					<img src="{% static 'img/parablog90.jpg'%}" alt="Info-Python-blog" height="700px">
				</ul>
				<br>
				<p>
					Al igual que con lista, podemos declarar diccionarios vacíos de dos maneras.
				</p>
				<ul>
					<table style="width: 20%;">
						<tr>
							<td>
								<strong style="color: green;">>>> diccionario = { }</strong><br><br>
								O podemos usar esta opción <br>
								<strong style="color: green;">>>> diccionarios = dict()</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					Para modificar un valor, de manera similar a las listas pero en lugar de usar el índice <br>
					usamos la clave.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> usuario = {"nombre":"juan", "edad":23} <br>
									>>> print(usuario) <br>
									{'nombre':'juan', 'edad':23} <br>
									>>> usuario["edad"] = 24 <br>
									>>> print(usuario) <br>
									{'nombre':'juan','edad':24}
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					Para agregar claves a un diccionario existente, realizamos la acción similar a como <br>
					modificamos el valor de una clave existente pero con la nueva clave
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> usuario["apellido"] = "Perez" <br>
									>>> print(usuario) <br>
									>>> {'nombre':'juan', 'edad':24, 'apellido':'Perez'}
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					Otra manera de insertar elementos es usando el método setdefault(), al cual se le pasa <br>
					la clave y el elemento a agregar. <br>
					Pero solo se agregara el elemento si la llave no existía, si ya se encontraba en el diccionario <br>
					no agrega el nuevo valor.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;"> 
								<strong>
									>>> usuario = { "nombre":"Juan", "edad":23 } <br>
									>>> usuario.setdefault("comida_favorita", "ninguna") <br>
									>>> print(usuario) <br>
									{'nombre': 'Juan', 'edad': 23, 'comida_favorita': 'ninguna'} <br>
									>>> usuario.setdefault("nombre", "Cristobal") <br>
									>>> print(usuario) <br>
									{'nombre': 'Juan', 'edad': 23, 'comida_favorita': 'ninguna'}
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					Como vimos podemos acceder a un elemento por medio de su llave.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> usuario["nombre"] <br>
									juan
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					pero en caso de tratar acceder con una clave no existente en el diccionario de un error.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> usuario["color_favorito"] <br>
									KeyError: 'color_favorito'
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					para esto los diccionarios incluyen un <strong>método get()</strong>, en el que se la pasa la clave como <br>
					parámetro y devuelve el elemento asociada a la clave o el valor <strong>None</strong> si la clave no se <br>
					encuentra.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> color = usuario.get("color_favorito") <br>
									>>> print(color) <br>
									None
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					también podemos opcionalmente pasarle a <strong>get()</strong> en otro parámetro el elemento a devolver <br>
					en lugar de <strong>None</strong> en caso de no encontrar la clave en el diccionario.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> color = usuario.get("color_favorito", "no tiene color favorito") <br>
									>>> print(color) <br>
									'no tiene color favorito'
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					No podemos obtener partes de un diccionario usando <strong>[:]</strong> como en las listas por que <strong>los
					diccionarios no tienen los elementos ordenados.</strong><br><br>
					Para <strong>recorrer un diccionario</strong> podemos hacerlo de varias maneras:
				</p>
				<ul>
					<img src="{% static 'img/parablog91.jpg'%}" alt="Info-Python-blog" height="350px">
				</ul>
				<br>
				<p>
					pero también tenemos un método <strong>items()</strong> en los diccionarios, que nos devuelve una <br>
					lista de tuplas que contienen el par clave:value.
				</p>
				<ul>
					<img src="{% static 'img/parablog92.jpg'%}" alt="Info-Python-blog" height="300px">
				</ul>
				<br>
				<p>
					podemos usar esto para recorrer un diccionario de la siguiente manera:
				</p>
				<ul>
					<img src="{% static 'img/parablog93.jpg'%}" alt="Info-Python-blog" height="350px">
				</ul>
				<br>
				<p>
					Para verificar si una clave se encuentra en el diccionario, podemos usar el operador <strong>in</strong>
				</p>
				<ul>
					<img src="{% static 'img/parablog94.jpg'%}" alt="Info-Python-blog" height="370px">
				</ul>
				<br>
				<p>
					Para eliminar algún par <strong>clave:value</strong> de un diccionario podemos utilizar la palabra <br>
					reservada <strong>del</strong>
				</p>
				<ul>
					<img src="{% static 'img/parablog95.jpg'%}" alt="Info-Python-blog" height="370px">
				</ul>
				<br>
				<p>
					También podemos utilizar el método <strong>pop()</strong> que vimos anteriormente en listas. <br>
					Este método nos quitará el elemento que le indiquemos en la clave y nos retorna el <br>
					valor quitado.
				</p>
				<ul>
					<img src="{% static 'img/parablog96.jpg'%}" alt="Info-Python-blog" height="370px">
				</ul>
				<br>
				<p>
					A diferencia de la lista que podíamos usar el pop() sin pasarle un índice, aca <br>
					obligatoriamente hay que pasarle la key. <br>
					En caso de pasarle una clave o key que no esté presente en el diccionario obtendremos <br>
					un error.
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> configuracion.pop("url") <br>
									KeyError: 'url'
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					pero podemos pasarle al método pop() un valor de retorno en caso que la llave no <br>
					exista
				</p>
				<ul>
					<img src="{% static 'img/parablog97.jpg'%}" alt="Info-Python-blog" height="370px">
				</ul>
				<br>
				<p>
					Si queremos borrar todos los elementos de un diccionario, o en otras palabras limpiar <br>
					completamente un diccionario, podemos usar el método <strong>clear()</strong>
				</p>
				<ul>
					<table>
						<tr>
							<td style="color: green;">
								<strong>
									>>> diccionario = {1:("a","b"),2:("c","d")} <br>
									>>> print(diccionario) <br>
									{1: ('a', 'b'), 2: ('c', 'd')} <br>
									>>> diccionario.clear() <br>
									>>> print(diccionario) <br>
									{ }
								</strong>
							</td>
						</tr>
					</table>
				</ul>
				<br>
				<p>
					también podemos extender o actualizar un diccionario con los elementos de otro diccionario <br>
					utilizando el método <strong>update().</strong> <br>
					Si las claves del diccionario que pasamos como parámetro exiten, se van actualizar los valores <br>
					de las keys repetidas. <br>
					Si las claves no existen, se agregan los nuevos pares key:value 
				</p>
				<ul>
					<img src="{% static 'img/parablog98.jpg'%}" alt="Info-Python-blog" height="400px">
				</ul>
				<br>
				<p>
					vemos como el elemento con clave "d", que existía previamente actualizó su valor del elemento <br>
					con clave "d" del segundo diccionario. Y se agregaron el resto de claves que <br>
					no existían previamente en el diccionario con sus respectivos valores del segundo diccionario.
				</p>
			</ul>
		</article>
		<br><br>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Funciones y métodos</h3>
			</center>
		</article>
		<!--Sigue...-->
	</section>
</body>
</html>