{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Entorno de Desarrollo</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/entorno.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Entorno de Desarrollo</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<br>
				<h2>INSTALACIÓN DE PYTHON 3 EN WINDOWS</h2>
				<p>
					Primero comprueba si tu ordenador ejecuta la versión 32 bits de Windows o la de 64, en <br>
					"Tipo de sistema" en la página de "Acerca de". Para llegar a esta página, intenta uno de <br>
					estos métodos:
				</p>
			</center>
			<ul>
				<li>
					Presione la tecla de Windows y la tecla Pause/Break al mismo tiempo.
				</li>
				<li>
					Abre el Panel de Control desde el menú de Windows, despúes accede a Sistema <br>
					y Seguridad, luego a Sistema.
				</li>
				<li>
					Presiona el botón de Windows, luego accede a Configuración > Sistema > Acerca de.
				</li>
			</ul>
			<hr>
			<!--aca va una imagen si quiero-->
			<center>
				<p>Puedes descargar Python para Windows desde el siguiente web</p>
				<a class="btn btn-outline-primary" href="https://www.python.org/downloads/windows">Pagina oficial de Python</a>
			</center>
		</article>
		<article class="post">
			<br>
			<hr>
			<center>
				<h3>Paso 1</h3>
					<p>
						Hacé clic en el enlace "Latest Python 3 Release - Python x.x.x".
					</p>
					<h3>Paso 2</h3>
					<p>
						Si tu compu ejecuta la versión de <b>64 bits</b> de Windows, descarga <b>Windows x86-64 executable installer.</b><br>
						De lo contrario, descarga <b>Windows x86 executable installer.</b> Después de descargar el instalador, deberías ejecutarlo <br>
						(dándole doble click) y seguir las instrucciones.
					</p>
					<img src="{% static 'img/parablog13.jpg'%}" height="500px">
					<br><br>
					<h3>Muy importante para tener en cuenta</h3>
					<p>
						Durante la instalación, verás una ventena de "Setup".<br>
						Asegúrate de marcar las casillas "<b>Add Python 3.x to PATH</b>" o "<b>Add Python to your environment variables</b>" <br>
						y hacer click en "<b>Install Now</b>", como se muestra aquí (puede que se vea un poco diferente si estás instalando una versión distinta)
					</p>
					<br>
					<img src="{% static 'img/parablog14.jpg'%}">
					<br><br>
					<p>
						Una vez finalizada la instalación, abre una ventana de comandos en Windows (<b>Busca <br>
						en Windows la aplicación CMD y ejecútala</b>).
					</p>
					<br>
					<p>
						Para conocer sobre variables de entorno haga click en el seguiente enlance.
					</p>
					<a class="btn btn-outline-primary" href="https://www.delftstack.com/es/howto/python/how-to-access-environment-variables-in-python">Cómo acceder a las variables de entorno en Python</a>
			</center>
		</article>
		<article class="post">
			<center>
				<br>
				<h3>Verificando la Instalación</h3>
				<p>
					Cuando estés en ella ingresa <b>python --version</b> para verificar la instalación, deberías <br>
					ver algo como esto: 
				</p>
				<img src="{% static 'img/parablog15.jpg'%}" height="300px">
				<br><br>
				<p>
					Listo ya tienes el <b>Intérprete de Python</b> instalando en tu computadora.
				</p>
				<br>
				<h3>Entorno de Trabajo</h3>
				<p>
					Vale aclarar en este momento, que existen varias maneras de crear programas y ejecutar nuestro código python, <br>
					pero en este curso trabajaremos sin utilizar programas extras (como una IDE) para lograr un mejor entendimiento <br>
					y poder tener mayor control sobre esta tecnología.
				</p>
				<p>
					Utilizaremos el intérprete (ya instalado en el paso anterior) y la ventana de comandos de Windows para ejecutar nuestro <br>
					programa. Y para ecribirlo usaremos cualquier editor de texto que este a nuestra disposición como por ejemplo: <b>Sublime Text</b>,<br>
					<b>Visual Studio Code</b>, o tambien podrian a utilizar algun entorno de desarrollo integrado (IDE), como por ejemplo <b>PyCharm</b>...etc. <br><br>
					<b>Links de descargas:</b>
				</p>
				<a class="btn btn-outline-primary" href="https://www.sublimetext.com/3">Descargar Sublime Text</a>
				<a class="btn btn-outline-primary" href="https://code.visualstudio.com/download">Descargar Visual Studio Code</a>
				<a class="btn btn-outline-primary" href="https://www.jetbrains.com/es-es/pycharm">Descargar PyCharm</a>
			</center>
		</article>
		<article class="post">
			<center>
				<br>
				<h3>HAGAMOS NUESTRO PRIMER PROGRAMA</h3>
				<p>
					Para terminar nuestra guía, crearemos nuestro primer programa y lo ejecutaremos, lo único <br>
					que realizara es mostrar por pantalla un mensaje de bienvenida.
				</p>
			</center>
			<ol>
				<li>
					Crearemos un archivo y lo llamamos <b>miPrimerPrograma.py</b>
					<ul>
						<img src="{% static 'img/parablog17.jpg'%}" height="200px">
					</ul>
				</li>
				<li>
					Abriremos el archivo con el editor de texto que tengan, en mi caso es Sublime Text, y <br>
					escribimos el siguiente código.
					<ul>
						<br>
						<img src="{% static 'img/parablog16.jpg'%}">
					</ul>
					<br>
				</li>
				<li>
					Guardemos y ya tenemos listo nuestro programa (<b>si asi de sencillo</b>).
				</li>
				<br>
				<li>
					El paso siguiente es ejecutarlo, para eso abrimos una ventana de comando (<b>CMD de <br>
					Windows</b>) y en la misma vamos hasta la ubicación donde hayamos guardado el archivo.
					<ul>
						<br>
						<li>
							Dentro de la ventana siempre veremos la ruta donde actualmente estamos parados, por ejemplo:<br>
							<b>C:\Users\Fulanito\Desktop</b>, es decir estamos parados en el escritorio del usuario Fulanito, para<br>
							moverte entre directorios debes usar los comandos <b>cd</b> nombreDirectorio para ingresar a ese directorio<br>
							y <b>cd..</b> para regresar un nivel. <br>
							Para mas informacion les invito a que hagan click en el siguiente <br>link: <br><br>
							<a class="btn btn-outline-primary" href="https://comofriki.com/cambiar-de-directorio-en-cmd-windows-10/#:~:text=Si%20la%20carpeta%20que%20desea,ventana%20y%20luego%20presione%20Enter.">Cómo cambiar de directorio en CMD</a>
						</li>
					</ul>
				</li>
			</ol>
			<br><hr>
			<center>
				<p>
					En el ejemplo se guardó el archivo miPrimerPrograma.py en <b>c:\Users\Usuario\Desktop\Programacion\Programas python>miPrimerPrograma</b><br>
					osea para que entiendan un poco mas, utilice el comando cd para moverme entre los directorios, y los directorios son las carpetas <br>
					que tenemos creadas que en este caso <b>Programacion</b> y <b>Programas python</b> son carpetas.
					<ul>
						<img src="{% static 'img/parablog18.jpg'%}">
					</ul>
				</p>
				<p>
					Puede pasar (depende de cómo se realizó la instalación), que se necesario escribir la palabra python <br>
					antes de ejecutar el programa, seria algo asi:<br> 
					<b>c:\Users\Usuario\Desktop\Programacion\Programas python>python miPrimerPrograma</b><br>
					Con el comando python miPrimerPrograma.py, le estamos diciendo que abra el archivo <br>
					indicado con el intérprete de python. <br>
					Pero vuelvo a repetir <b>A VECES NO ES NECESARIO ESCRIBIR PYTHON AL COMIENZO</b>.
					<ul>
						<img src="{% static 'img/parablog19.jpg'%}">
					</ul>
				</p>
			</center>
		</article>
	</section>
</body>
</html>