{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Introduccion a Python</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/intro.css">
</head>
<body>
	<header>
		<h1>Introduccion a Python</h1>
	</header>
	<section class="contenido">
		<article class="post">
			<center>
				<h2>¿Qué es Python?</h2>
				<p>
					<b>Python es unos de los lenguajes de programación más requeridos en la industria mundial.</b>
					<br>
					Hablemos sobre el lenguaje y sus principales características las cuales lo diferencian de.
					<br>
					otros.Haciéndolo un lenguaje muy atractivo para quienes comienzan a programar y <br>
					permitiendo un amplio desarrollo de aplicaciones de manera muy sencilla.
				</p>
			</center>
			<!--aca va una imagen si quiero-->
		</article>
		<article class="post">
			<center>
				<h2>Veamos sus principales características</h2>
				<h3 style="color: #FF5733;">Python es un lenguaje Interpretado</h3>
				<p>
					Normalmente los <b>lenguajes de programación</b> se pueden agrupar en <b>Interpretados y <br>
					Compilados</b> según la forma en la que son traducidos.
				</p>
				<p>
					Cuando nosotros escribimos un código en realidad lo que estamos haciendo es <b>hablar <br>
					un lenguaje más fácil</b> de comprender para nosotros y que luego será <b>traducido a <br>
					lenguaje de máquina</b> que es lo que puede entender la compu.
				</p>
				<p>
					Entonces, de acuerdo a cómo se realiza esta <b>traducción</b> es lo que clasifica a los <br>
					lenguajes en Interpretados o Compilados:
				</p>
				<br>
				<img src="{% static 'img/parablog7.jpg'%}">
			</center>
			<ul>
				<li><b>Compilados :</b></li>
				<p>Tradúcen código máquina, creando un archivo traducido para una ejecución rápida.</p>
				<p>Rquieren que las instrucciones, sean traducidas, esto lo hace más eficiente.</p>
				<p>El procesador sólo entiende un lenguaje que se denomina "lenguaje máquina".</p>
				<li><b>Interpretados :</b></li>
				<p>Las instrucciones se traducen una a una, cada vez que se ejecute el programa.</p>
				<p>Son tipicamente unas 10 veces más lentos que los programas compilados.</p>
				<p>Facilidad para lograr independencia de plataformas y menor tamaño de programa.</p>
			</ul>
			<center>
				<img src="{% static 'img/parablog8.jpg'%}" height="400px">
				<img src="{% static 'img/parablog9.jpg'%}" height="400px">	
				<p>
					Los <b>lenguajes compilados</b> son aquellos en los que el <b>código del <br>
					programador es traducido por completo</b> de una sola vez mediante <br>
					un proceso llamado <b>Compilador</b> para ser ejecutado por un <br>
					sistema predeterminado. Como por ejemplo: <b>Java y C++</b>.
				</p>
				<p>
					Y los <b>lenguajes interpretados</b> son aquellos en los que el <br>
					código del programador es <b>traducido mediante <br> 
					un intérprete</b> a medida que es necesario. <br><br>
					Entre los más comunes encontramos <b>Python</b>, Ruby, <br>
					Javascript...
			</p>
			</center>
			<img src="{% static 'img/parablog10.jpg'%}" height="300px">
			<img src="{% static 'img/parablog6.jpg'%}" height="300px">
		</article>
		<article class="post">
			<br>
			<h2>¿Qué ventajas nos ofrece Python como lenguaje interpretado?</h2>
			<ul>
				<li>Al ser interpretado no necesitamos compilar ahorrándonos mucho tiempo en el <br>desarrollo y prueba de una aplicación.</li>
				<li>Nuestro código fuente puede ser ejecutado en culquier sistema operativo siempre <br>y cuando este disponga del intérprete (Windows,Linux, Mac, Android, Web).</li>
			</ul>
			<h3 style="color: #FF5733;">Multiparadigma</h3>
			<p>
				Python es un lenguaje que soporta más de un paradigma a la hora de programar.
				<br><br>
				Los paradigmas soportados son: 
				<ul>
					<li>Imperativo</li>
					<li>Funcional</li>
					<li>Orientado a Objetos</li>
				</ul>
			</p>
			<h3 style="color: #FF5733;">Multiplataforma</h3>
			<p>
				Su código fuente puede ser <b>interpretado</b> y <b>ejecutado</b> en <b>varios sistemas operativos</b> <br>eso quiere decir,
				soporta diversas plataformas para ejecutar software escrito en Python.
			</p>
			<img src="{% static 'img/parablog11.jpg'%}">
			<h3 style="color: #FF5733;">Tipado Dinámico</h3>
			<p>
				¡Sabés que significa? Que una <b>variable</b> puede tomar <b>diferentes valores</b> de <b>distintos <br>tipos</b> en diferentes momentos.
			</p>
			<p>
				Las variables en Python son declaradas por su contenido y no por su contenedor, lo que <br>nos va a permitir cambiar el valor y tipo
				de una variable durante la ejecución sin <br>necesidad de volver a declarar.  
			</p>
			<img src="{% static 'img/parablog12.jpg'%}" height="300">
			<p>
				Por Ejemplo, podemos escribir <b>a=0</b>, y atomáticamente Python determinará que la variable <b>a</b> es del tipo numérico, <br>
				pero en el mismo programa y en caulquier momento podremos escribir, <b>a="Tipado Dinámico"</b> y la variable <br>
				<b>a</b> pasará atomáticamente a ser del tipo string.
			</p>
			<h3 style="color: #FF5733;">Fuertemente Tipado</h3>
			<p>
				Ya que no se permiten violaciones de los tipos de datos, es decir, dado el valor de una <br>
				variable de un tipo concreto, no se puede usar como si fuera de otro tipo distinto a <br>
				menos que se haga una conversión. <br>
				<b>Por ejemplo:</b><br>
				Si asigno estos valores a las variables <b>x</b> e <b>y</b>:
				<b>X = 2</b><br>
				<b>Y = "5"</b><br>
				Para poder sumarlos debo primero convertir explícitamente a la variable <b>y</b> en un entero. <br>
				<b>R = X + int(Y)</b><br>
			</p>
			<p>
				Una vez comprendidas las principales <b>CARACTERISTICAS</b> de Python, <br>
				vamos ahora si a instalarlo y preparar nuestro entorno de trabajo.
			</p>
		</article>
	</section>
</body>
</html>