{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Introduccion a Python</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/intro.css">
</head>
<body>
	<header>
		<h1>Introduccion a Python</h1>
	</header>
	<section>
		<article class="post">
			<h2>¿Qué es Python?</h2>
			<p>
				<b>Python es unos de los lenguajes de programación más requeridos en la industria mundial.</b>
				<br>
				Hablemos sobre el lenguaje y sus principales características las cuales lo diferencian de.
				<br>
				otros.Haciéndolo un lenguaje muy atractivo para quienes comienzan a programar y <br>
				permitiendo un amplio desarrollo de aplicaciones de manera muy sencilla.
			</p>
			<!--aca va una imagen si quiero-->
		</article>
		<article class="post">
			<h2>Veamos sus principales características</h2>
			<h3 style="color: #FF5733;">Python es un lenguaje Interpretado</h3>
			<p>
				Normalmente los <b>lenguajes de programación</b> se pueden agrupar en <b>Interpretados y <br>
				Compilados</b> según la forma en la que son traducidos.
			</p>
			<p>
				Cuando nosotros escribimos un código en realidad lo que estamos haciendo es <b>hablar <br>
				un lenguaje más fácil</b> de comprender para nosotros y que luego será <b>traducido a <br>
				lenguaje de máquina</b> que es lo que puede entender la compu.
			</p>
			<p>
				Entonces, de acuerdo a cómo se realiza esta <b>traducción</b> es lo que clasifica a los <br>
				lenguajes en Interpretados o Compilados:
			</p>
			<br>
			<img src="{% static 'img/parablog7.jpg'%}">
			<ul>
				<li><b>Compilados :</b></li>
				<p>Tradúcen código máquina, creando un archivo traducido para una ejecución rápida.</p>
				<p>Rquieren que las instrucciones, sean traducidas, esto lo hace más eficiente.</p>
				<p>El procesador sólo entiende un lenguaje que se denomina "lenguaje máquina".</p>
				<li><b>Interpretados :</b></li>
				<p>Las instrucciones se traducen una a una, cada vez que se ejecute el programa.</p>
				<p>Son tipicamente unas 10 veces más lentos que los programas compilados.</p>
				<p>Facilidad para lograr independencia de plataformas y menor tamaño de programa.</p>
			</ul>
			<img src="{% static 'img/parablog8.jpg'%}" height="400px">
			<img src="{% static 'img/parablog9.jpg'%}" height="400px">
			<p>
				Los <b>lenguajes compilados</b> son aquellos en los que el <b>código del <br>
				programador es traducido por completo</b> de una sola vez mediante <br>
				un proceso llamado <b>Compilador</b> para ser ejecutado por un <br>
				sistema predeterminado. Como por ejemplo: <b>Java y C++</b>.
			</p>
			<p>
				Y los <b>lenguajes interpretados</b> son aquellos en los que el <br>
				código del programador es <b>traducido mediante <br> 
				un intérprete</b> a medida que es necesario. <br><br>
				Entre los más comunes encontramos <b>Python</b>, Ruby, <br>
				Javascript...
			</p>
			<img src="{% static 'img/parablog10.jpg'%}" height="300px">
			<img src="{% static 'img/parablog6.jpg'%}" height="300px">
		</article>
	</section>
</body>
</html>