{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Listas</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/listas.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<header>
		<h1>Listas</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Listas en Python</h2>
				<p>
					Las <strong>listas</strong> en Python son conjuntos de elementos ordenados y pueden estar conformados por <br>
					elementos de distintos tipo (enteros, float, cadenas, funciones, otras listas, etc).
				</p>
				<p>
					Las listas en Python son <strong>mutables</strong>, lo que significa que sus elementos pueden cambiar o reordenarse.
				</p>
				<img src="{% static 'img/parablog46.jpg'%}" alt="Info-Python-blog">
				<br><br>
				<p>
					Las listas se delimitan por <strong>corchetes []</strong> y sus elementos se separan por comas.
				</p>
				<img src="{% static 'img/parablog47.jpg'%}" alt="Info-Python-blog" height="350px">
				<br><br>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Los elementos de una lista pueden accederse mediante su índice.</h3>
				<h3 style="color: cornflowerblue;">Ejemplos:</h3>
				<img src="{% static 'img/parablog48.jpg'%}" alt="Info-Python-blog" height="500px">
				<br><br>
				<p>
					También puede contener otras listas dentro
				</p>
				<img src="{% static 'img/parablog49.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Una lista puede estar vacia: 
				</p>
				<img src="{% static 'img/parablog50.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Para crear una lista podremos hacerlo encerrando los elementos entre corchetes y <br>
					separados por comas: 
				</p>
				<img src="{% static 'img/parablog51.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Podemos crear listas vacías de dos formas: 
				</p>
				<img src="{% static 'img/parablog52.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Si queremos conocer la cantidad de elementos en una lista podemos utilizar la función <br>
					len()
				</p>
				<img src="{% static 'img/parablog53.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Podemos acceder a los distintos elementos de la lista por medio de su índice.
				</p>
				<img src="{% static 'img/parablog54.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
				<p>
					Los índices de las listas comienzan en 0 (cero). Por eso el índice 0 para acceder <br>
					al primer elemento, el índice 1 para el segundo y así sucesivamente. <br>
					También podemos usar de índices enteros negativos. Correspondiendo el -1 al último <br>
					elemento, el -2 al anteúltimo y así sucesivamente. 
				</p>
				<img src="{% static 'img/parablog55.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<p>
					Una lista anidada se considera como un solo elemento, independientemente de cuántos <br>
					elementos contenga.
				</p>
				<img src="{% static 'img/parablog56.jpg'%}" alt="Info-Python-blog"  height="500px">
				<br><br>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Modificar Elementos</h3>
				<p>
					Se puede modificar cualquier elemento de la lista haciendo referencia a su posición y <br>
					asignándole el nuevo elemento.
				</p>
				<img src="{% static 'img/parablog57.jpg'%}" alt="Info-Python-blog"  height="500px">
			</center>
		</article>
		<article class="post">
			<br>
			<center>
				<br>
				<h3 style="color: cornflowerblue;">Recorrer una lista</h3>
				<p>
					Puedes leer los elementos de la lista utilizando un ciclo for utilizando range():
				</p>
				<img src="{% static 'img/parablog58.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<p>
					Pero Python también nos permite recorrer listas de la siguiente manera:
				</p>
				<img src="{% static 'img/parablog59.jpg'%}" alt="Info-Python-blog"  height="400px">
			</center>
		</article>
		<br>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Agregar elementos en una lista</h3>
				<p>
					Podemos agregar un elemento a la lista utilizando append()
				</p>
				<img src="{% static 'img/parablog60.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<p>
					Como vemos el elemento que pasamos entre paréntesis en append() se agregó al final <br>
					de la lista.
				</p>
				<p>
					Otra forma de insertar elementos es con insert(), que aparte de indicarle el elemento <br>
					que queremos insertar le indicamos el índice.
				</p>
				<img src="{% static 'img/parablog61.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<p>
					Podemos agregar todos los elementos de otra lista al final con el método extend()
				</p>
				<img src="{% static 'img/parablog62.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<p>
					Vemos como <strong>una_lista</strong> se extendió con los elementos de <strong>otra_lista</strong> y <strong>otra_lista</strong> no se ve <br>
					afectada.
				</p>
				<p>
					Prueben los siguientes códigos
				</p>
				<img src="{% static 'img/parablog63.jpg'%}" alt="Info-Python-blog"  height="400px">
				<br><br>
				<h3 style="color: cornflowerblue;">¿Cúal es la diferencia entre append y extend?</h3>
			</center>
			<br>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Obtener sublistas (slicing)</h3>
				<p>
					Se puede obtener sublistas a partir de una lista usando [:] de esta manera:
				</p>
				<img src="{% static 'img/parablog64.jpg'%}" alt="Info-Python-blog"  height="300px">
				<br><br>
				<p>
					El primer número indica el índice del primer elemento, y el segundo en donde <br>
					detenerse y dejar de tomar elementos.
				</p>
				<img src="{% static 'img/parablog65.jpg'%}" alt="Info-Python-blog"  height="350px">
				<br><br>
				<p>
					Si se decide omitir el primer número, se comenzará desde el inicio.
				</p>
				<img src="{% static 'img/parablog66.jpg'%}" alt="Info-Python-blog"  height="350px">
				<br><br>
				<p>
					<strong>mi_lista[:4] es igual a hacer mi_lista[0:4]</strong>
				</p>
				<p>
					Si se elimina el segundo número se tomarán elementos hasta el final.
				</p>
				<img src="{% static 'img/parablog67.jpg'%}" alt="Info-Python-blog"  height="350px">
				<br><br>
				<p>
					<strong>mi_lista[3:] es igual a hacer mi_lista[3:len(lista)]</strong>
				</p>
				<p>
					Ahora si no pones ningún número, y solo deja los dos puntos, se copiará la lista <br>
					completa. 
				</p>
				<img src="{% static 'img/parablog68.jpg'%}" alt="Info-Python-blog"  height="350px">
				<br><br>
				<p>
					<strong>mi_lista[:] es igual a mi_lista[0:len(lista)]</strong>
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Copiar una lista</h3>
				<p>
					Si necesitamos una copia de la lista en otra variable podremos hacer <br>
					<ul>
						<strong>>>> copia = mi_lista[]</strong>
					</ul>
					o también utilizar el método <strong>copy()</strong> <br><br>
					<ul>
						<strong>>>> copia = mi_lista.copy()</strong>
					</ul>
				</p>
				<p>
					¿Por qué no podríamos simplemente hacer <strong>copia = mi_lista</strong> directamente? <br>
					prueba el siguiente código:
				</p>
				<img src="{% static 'img/parablog69.jpg'%}" alt="Info-Python-blog" height="400px">
				<br><br>
				<p>
					¿qué sucedió? <br><br>
					Ahora prueba:
				</p>
				<img src="{% static 'img/parablog70.jpg'%}" alt="Info-Python-blog" height="450px">
				<br><br>
				<p>
					¿Y ahora?<br><br>
					También puedes modificar varios elementos a la vez operando con sublistas.
				</p>
				<img src="{% static 'img/parablog71.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Ordenar una lista</h3>
				<p>
					Para ordenar una lista podemos usar el método sort()
				</p>
				<img src="{% static 'img/parablog72.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
				<p>
					para ordenarlos de manera inversa, puedes pasar el parámetro reverse = True el método sort()
				</p>
				<img src="{% static 'img/parablog73.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
				<p>
					otros ejemplos:
				</p>
				<img src="{% static 'img/parablog74.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Invertir una lista</h3>
				<p>
					Para invertir el orden de una lista, se puede usar el método reverse()
				</p>
				<img src="{% static 'img/parablog75.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
				<h3 style="color: cornflowerblue;">Saber si un elemento se encuentra en la lista</h3>
				<p>
					para saber si un elemento se encuentra en la lista, podemos usar el operador in.
				</p>
				<img src="{% static 'img/parablog76.jpg'%}" alt="Info-Python-blog" height="350px">
				<br><br>
				<p>
					para saber cuantas veces se encuentra un elemento dentro de una lista podremos usar <br>
					el método count()
				</p>
				<img src="{% static 'img/parablog77.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
				<h3 style="color: cornflowerblue;">Conocer el índice de un elemento</h3>
				<p>
					Podemos conocer el índice de un elemento utilizando el método index()
				</p>
				<img src="{% static 'img/parablog78.jpg'%}" alt="Info-Python-blog" height="330px">
				<br><br>
				<p>
					En el caso de tener más de un elemento igual, index() solo va a devolver el índice del <br>
					primero.
				</p>
				<img src="{% static 'img/parablog79.jpg'%}" alt="Info-Python-blog" height="300px">
				<br><br>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Eliminar elementos de una lista.</h3>
				<p>
					puedes eliminar elementos de una lista utilizando la palabra reservada <strong>del</strong>
				</p>
				<img src="{% static 'img/parablog80.jpg'%}" alt="Info-Python-blog" height="330px">
				<p>
					en el ejemplo se borro "d" que se encontraba en el índice 3.
				</p>
				<p>
					Podemos borrar de a varios elementos operando sublistas <strong>[:]</strong>
				</p>
				<img src="{% static 'img/parablog81.jpg'%}" alt="Info-Python-blog" height="330px">
				<br><br>
				<p>
					Otra manera de eliminar elementos es con el método <strong>remove()</strong> y especificando el <br>
					elemento a borrar.
				</p>
				<img src="{% static 'img/parablog82.jpg'%}" alt="Info-Python-blog" height="330px">
				<br><br>
				<p>
					Otra forma de quitar elementos es utilizando el método pop(), que no sólo quitará un <br>
					elemento de la lista si no que nos retornará el valor quitado.
				</p>
				<img src="{% static 'img/parablog83.jpg'%}" alt="Info-Python-blog" height="330px">
				<br><br>
				<p>
					También podemos especificar el índice del elemento que queremos quitar.
				</p>
				<img src="{% static 'img/parablog84.jpg'%}" alt="Info-Python-blog" height="330px">
				<br><br>
				<p>
					Algunas funciones de Python que puedes utilizar en listas son:
				</p>
				<ul>
					<li>len() para saber la longitud (cantidad de elementos) que contiene una lista</li>
					<li>min() devuelve el mínimo</li>
					<li>max() devuelve el máximo</li>
					<li>sum() devuelve la suma entre sus elementos</li>
				</ul>
				<br>
				<img src="{% static 'img/parablog85.jpg'%}" alt="Info-Python-blog" height="500px">
				<br><br>
				<p>
					También puedes utilizar operadores matemáticos en las listas:
				</p>
				<img src="{% static 'img/parablog86.jpg'%}" alt="Info-Python-blog" height="500px">
				<br><br>
				<h3 style="color: cornflowerblue;">
					¿Observaste algunas similitudes entre listas y cadenas <br>
					de caracteres?
				</h3>
			</center>
		</article>
		<!--Ver temas de las img...-->
	</section>
</body>
</html>