{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Manejo de Variables</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/manejoDevariables.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<header>
		<h1>Manejo de Variables</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Variables. Manejo de Variables</h2>
				<p>
					Las <b>variables</b> nos permiten guardar valores y reutilizarlos en distintos lugares del código, nos <br>
					permite acceder fácilmente a un dato para ser <b>manipulado y transformado</b> a lo largo de un <br>
					programa.
				</p>
				<p>
					Para definir una variable en Python, basta con nombrarla dentro del entorno y definir un valor <br>
					ya que como dijimos anteriormente es un lenguaje completamente orientado a objetos, por lo <br>
					que no es necesario declarar variables o el tipo antes de usarlas como en otros lenguajes.
				</p>
				<p style="color: deeppink;">
					nombre_varible = valor | Por ejemplo: x = 10
				</p>
				<p>
					En los ejercicios que desarrollemos a lo largo del curso las <b>variables serán la foroma de <br>
					identificar</b>, de forma sencilla, <b>un dato</b> que se encuentra almacenado en la memoria de la <br>
					computadora por lo que debemos darle nombre que sean significativos.
				</p>		
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Manejo de Variables</h3>
				<p>
					<ol>
						<li>
							Para <b>crear</b> y darle <b>valores</b> a variables utilizamos la <b>operación de asignación (=).</b><br><br>
							El operador de asignación enlaza un nombre, en el lado izquierdo del operador, con un <br>
							valor en el lado derecho. <br>
							<ul style="color: deeppink;">
								Por ejemplo : 	Saludos = "¿Que onda?" <br>
								pi = 3.1414159265358979323846…
							</ul>
						</li>
						<li>
							Para definir nombres de variables hay que tener en cuenta las siguientes cuatro simples <br>
							reglas: 
							<ol type="a">
								<li>
									El nombre de una variable puede empezar con una <b>letra</b> o un <b>guión bajo</b>, y <br>
									aunque es permitido usar letras mayúsculas, por convención no lo hacemos.
								</li>
								<li>
									Pueden contener <b>letras, números</b> y se puede usar el <b>guión bajo (_).</b>
								</li>
								<li>
									En el nombre de una variable se disntingue si contiene mayúsculas o minúsculas <br>
									(significa que Python es un lenguaje <b>case sensitive</b>).
								</li>
								<li>
									No se pueden utilizar <b>palabras claves</b> o <b>reservadas</b> de Python como nombres <br>
									de variables. Por ejemplo: no puedes definir una variable con el nombre "elif", pues <br>
									esta palabra se usa en condicionales.
								</li>
							</ol>
							<br>
							<h3 style="color: cornflowerblue;">Otros ejemplos de Plabras reservadas:</h3><br>
							<ul>
								<img src="{% static 'img/parablog1.jpg'%}" height="200px">
							</ul>
						</li>
						<li>
							Para <b>modificar  el valor</b> de una variable en Python, basta con <b>asignarle un nuevo <br>
							valor</b> en cualquier momento y lugar después de la definición.
						</li>
						<li>
							A una variable se le puede asignar un <b>valor literal</b> (número, string, booleano, none), <br>
							una <b>expresión</b>, una llamada a una <b>función</b> o una <b>combinación</b> de todos ellos.
						</li>
						<li>
							Se puede asignar un mismo valor a múltiples variables a la vez. <br>
							<ul style="color: deeppink;">
								Por ejemplo : a = b = c = 1
							</ul>
						</li>
						<li>
							En Python <b>todo es un objeto.</b> Entonces si asigno a la <b>variable "a" el valor "1"</b>, <br>
							realmente la <b>variable "a"</b> hace referencia al objeto que representa al número entero <br>
							con <b>valor "1"</b>. Si ahora creamos una nueva <b>variable "b"</b> y le asignamos también <br>
							el <b>valor "1"</b>, la <b>variable "b"</b> estará haciendo referencia al mismo objeto que la <br>
							<b>variable "a"</b>.
						</li>
					</ol>
				</p>
				<p>
					En definitiva, "a" y "b" hacen referencia al mismo objeto y, por lo tanto, están asociadas <br>
					a la misma dirección de memoria.
				</p>
				<br>
				<img src="{% static 'img/parablog37.jpg'%}">
				<br>
				<p>
					En otros lenguajes "a" y "b" estarían asociadas a direcciones de memoria diferentes.
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Operadores</h3>
				<p>
					Los <b>operadores</b> nos permiten manipular datos, sean variables, constantes, otras expresiones, <br>
					objetos, atributos de objeto, entre otros, de manera que podamos: 
				</p>
				<ol type="a">
					<li>
						Transformarlos,
					</li>
					<li>
						usarlos en decisiones para controlar el flujo de ejecución de un programa
					</li>
					<li>
						formar valores para asignarlos a otros datos
					</li>
				</ol>
				<p>
					El tipo de datos involucrado en una expresión se relaciona con los operadores utilizados. Vamos <br>
					con algunos de estos operdadores.
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">OPERADORES MATEMÁTICOS</h3>
				<table style="width: 500px;">
					<tr style="color: #19B7AD;">
						<th>SUMA</th>
						<th>RESTA</th>
					</tr>
					<tr>
						<td>
							>> 2 + 2 <br>
							Resultado: 4
						</td>
						<td>
							>> 50 - 10 <br>
							Resultado: 40
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>DIVISIÓN</th>
						<th>MULTIPLICACIÓN</th>
					</tr>
					<tr>
						<td>
							>> 25 / 3 <br>
							Resultado: 8,333 <br>
							Siempre retorna un punto flotante <br><br>
							>> 25 // 5 <br>
							Resultado: 5 <br>
							Siempre retorna un número entero
						</td>
						<td>
							>> 25 * 2 <br>
							Resultado: 50
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>MÓDULO</th>
						<th>POTENCIA</th>
					</tr>
					<tr>
						<td>
							>> 25 % 3 <br>
							Resultado: 1 <br>
							Retorna el resto de la división
						</td>
						<td>
							>> 8 ** 2 <br>
							Resultado: 64
						</td>
					</tr>
				</table>
				<br>
				<h3 style="color: cornflowerblue;">OPERADORES DE COMPARACIÓN</h3>
				<table>
					<tr style="color: #19B7AD;">
						<th>
							> <br>
							MAYOR QUE
						</th>
						<th>
							>= <br>
							MAYOR O IGUAL QUE
						</th>
					</tr>
					<tr>
						<td>
							>> a > b <br>
							Resultado: <b>True</b> si el operando de la izquierda es <br>
							estrictamente mayor que el de la derecha; <b>False</b> en caso <br>
							contrario.
						</td>
						<td>
							>> a >= b <br>
							Resultado: <b>True</b> si el operando de la izquierda es <br>
							mayor o igual que el de la derecha; <b>False</b> en caso <br>
							contrario.
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>
							<
							<br>
							MAYOR QUE
						</th>
						<th>
							<=
							<br>
							MENOR O IGUAL QUE
						</th>
					</tr>
					<tr>
						<td>
							>> a < b <br>
							Resultado: <b>True</b> si el operando de la izquierda es <br>
							estrictamente menor que el de la derecha; <b>False</b> en caso <br>
							contrario.
						</td>
						<td>
							>> a <= b <br>
							Resultado: <b>True</b> si el operando de la izquierda es <br>
							menor o igual que el de la derecha; <b>False</b> en caso <br>
							contrario.
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>
							== <br>
							IGUAL
						</th>
						<th>
							!= <br>
							DISTINTO
						</th>
					</tr>
					<tr>
						<td>
							>> a == b <br>
							Resultado: <b>True</b> si el operando de la izquierda es igual <br>
							que el de la derecha; <b>False</b> en caso contrario.
						</td>
						<td>
							>> a != b <br>
							Resultado: <b>True</b> si los operandos son distintos; <br>
							<b>False</b> en caso contrario.
						</td>
					</tr>
				</table>
				<br>
				<h3 style="color: cornflowerblue;">OPERADORES LÓGICOS</h3>
				<table>
					<tr style="color: #19B7AD;">
						<th>AND</th>
						<th>OR</th>
					</tr>
					<tr>
						<td>
							>> a = true <br>
							>> b = true <br>
							>> x = a AND b <br>
							<b>Resultado: True</b> <br>
							Devuelve True solo si ambos valores son True, en cualquier <br>
							otro caso es False.
						</td>
						<td>
							>> a = true <br> 
							>> b = true <br>
							>> x = OR b <br>
							<b>Resultado: True</b> <br>
							>> a = true <br>
							>> b = false <br>
							>> x = a OR b <br>
							<b>Resultado: True</b> <br>
							Devuelve False solo si ambos valores son False. <br>
							Devuelve True si uno de los valores es True.
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>NOT</th>
					</tr>
					<tr>
						<td>
							>> a = true <br>
							>> x = NOT a <br>
							<b>Resultado: False</b> <br>
							Cambia el valor de verdad de la variable a la que se aplica la <br>
							operación.
						</td>
					</tr>
				</table>
				<br>
				<h3 style="color: cornflowerblue;">OPERACIONES CON CADENAS/STRINGS</h3>
				<table>
					<tr style="color: #19B7AD;">
						<th>CONCATENACIÓN</th>
						<th>MULTIPLICACIÓN</th>
					</tr>
					<tr>
						<td>
							>> 'Hola' + 'mundo' <br>
							Resultado: Hola mundo <br>
							Si tenemos dos cadenas o más entre comillas una al lado de la otra se <br>
							concatenan automáticamente. <br>
							>> 'Hola' 'mundo' <br>
							Resultado: Hola mundo.
						</td>
						<td>
							>> 3 * 'Hola' <br>
							Resultado: HolaHolaHola
						</td>
					</tr>
					<tr style="color: #19B7AD;">
						<th>MEZCLA</th>
					</tr>
					<tr>
						<td>
							Se pueden mezclar las operaciones de concatenación y multiplicación <br>
							>> 3 * 'Hola' + 'mundo' <br>
							Resultado: HolaHolaHola mundo.
						</td>
					</tr>
				</table>
			</center>
		</article>
		<article class="post">
			<br>
			<center>
				<h3 style="color: cornflowerblue;">Función type()</h3>
				<p>
					La función type() devuelve el tipo de objeto que recibe como argumento, podemos utilizarla <br>
					para saber de qué tipo es una variable. <br>
					Por ejemplo: <br>
				</p>
				<p style="color: rgb(226, 43, 220);">
					>> nombre_variable = 'Hola mundo' <br>
					>> type(nombre_variable) <br>
					>> class 'str'>
				</p>
			</center>
		</article>
		<article class="post" >
			<center>
				<h3 style="color: #C66250;">Dato. Clasificación de Datos. Tipos de Datos</h3>
				<br>
				<h4 style="color: cornflowerblue;">Definición de Dato</h4>
				<p>
					Un dato es una representación simbólica (numéricas, alfabéticas, algorítmicas, etc.) de un <br>
					atributo o cualidad de una entidad. Los datos aisladamente pueden no contener información <br>
					humanamente relevante. Sólo cuando un conjunto de datos se examina conjuntamente a la luz <br>
					de un enfoque, hipótesis o teoría se puede apreciar la información contenida en dichos datos y <br>
					se puede utilizar en la realización de cálculos o toma de decisiones.
				</p>
				<p>
					Un dato puede ser un caracter leído de un teclado, información almacenada en un disco, un <br>
					número que se encuentra en la memoria central, etc.
				</p>
				<h4 style="color: cornflowerblue;">Clasificación de Datos</h4>
				<p>
					Los datos se pueden clasificar: 
				</p>
				<ol>
					<li>
						De acuerdo a, si varían o no durante la ejecución de un programa:
						<ol type="a">
							<li>
								<b>Constantes:</b> Su valor no varía a lo largo de la ejecucíon de un programa.
							</li>
							<li>
								<b>Variables:</b> Su valor varía a lo largo de la ejecución de un programa. <br>
								<table>
									<th>
										En Python no existen constantes ni variables, tan sólo objetos con los <br>
										que hacer modificaciones. <br>
										Lo que mal-llamamos variables o (constantes) no son otra cosa que <br>
										<b>"referencias" a objetos,</b> como etiquetas para poder identificarlos. <br><br>
										<b>
											Los objetos en Python pueden ser 'mutables' si puede <br>
											modificarse solo algunas posiciones del dato o 'inmutables' si no <br>
											pueden modificarse.
										</b>
									</th>
								</table>
							</li>
						</ol>
					</li>
					<br>
					<li>
						De acuerdo a lo que representan pueden ser: 
						<ol style="color: black;" type="a">
							<li>Números</li>
							<li>Cadenas o Strings</li>
							<li>Booleanos o Lógicos</li>
						</ol>
					</li>
				</ol>
			</center>
		</article>
		<article class="post">
			<center>
				<h4 style="color: cornflowerblue;">Tipos de Datos</h4>
				<p>
					El tipo de un dato está definido por el conjunto de valores que puede tomar a lo largo de un <br>
					programa.
				</p>
				<p>
					En Python específicamente encontramos los siguientes tipos de Dato: <br>
					<ul>
						<img src="{% static 'img/parablog38.jpg'%}">
					</ul>
				</p>
				<br>
				<h4 style="color: cornflowerblue;">NÚMEROS</h4>
				<p>
					<b>Enteros:</b> Son números positivos o negativos que no tienen decimales. Estos números se <br>
					conocen como de tipo 'int' (entero) o 'long' (entero largo para más precisión).
				</p>
				<p style="color: deeppink;">
					Por ejemplo: x = 2 o z = -25
				</p>
				<p>
					<b>Reales:</b> Son números de tipo decimal y en Python se conocen como de tipo 'float'
				</p>
				<p style="color: deeppink;">
					Por ejemplo: x = 2.5 o z = -0.5
				</p>
				<p>
					<b>Complejos:</b> Son números que tienen una parte real y una parte imaginaria, en Python se <br>
					conocen como de tipo 'complex'.
				</p>
				<p style="color: deeppink;">
					Por ejemplo: x = 2,1 + 6j
				</p>
				<br>
				<h4>Ejemplo de Algoritmo simple con operacion matemática:</h4>
				<ul>
					<img src="{% static 'img/parablog39.jpg'%}">
				</ul>
				<br>
				<h4 style="color: cornflowerblue;">CADENAS o STRINGS</h4>
				<p>
					Se conocen como de <b>tipo 'str'</b> texto encerrado entre comillas (simples o dobles). <br>
					Las cadenas admiten operadores como la suma o la multiplicación.
				</p>
				<p style="color: deeppink;">
					Por ejemplo: x = "Hola mundo" o x = 'Hola Mundo'
				</p>
				<h4  style="color: cornflowerblue;">BOOLEANOS</h4>
				<p>
					Puede tomar únicamente los valores de Verdadero o Falso. Se define usando el <b>tipo 'bool'</b>
				</p>
				<p style="color: deeppink;">
					Por ejemplo: x = true o z = false
				</p>
				<h4 style="color: cornflowerblue;">CONJUNTOS</h4>
				<p>
					Es una colección de datos desordenada que no contiene elementos que se repiten. <br>
					Se conoce como de <b>tipo 'set'</b>.
				</p>
				<p style="color: deeppink;">
					Por ejemplo: conjunto = {'naranja', 1, 'c', 2.5, True, 'ciruela'}
				</p>
				<h4 style="color: cornflowerblue;">LISTAS</h4>
				<p>
					Contienen vectores (arrays), es decir, que contienen un conjunto de valores que pueden <br>
					contener distintos tipos de dato. Se conocen como de <strong>tipo 'list'</strong>.
				</p>
				<p style="color: deeppink;">
					Por ejemplo: z = [0.5, 'manzana', 1500, 'azul']
				</p>
				<h4 style="color: cornflowerblue;">TUPLAS</h4>
				<p>
					Es una lista que no se puede modificar después de su creación, es inmodificable. Se puede <br>
					anidar una tupla dentro de otra. Se conocen como de <strong>tipo 'tuple'</strong>. 
				</p>
				<p style="color: deeppink;">
					Por ejemplo: numero = 1, 25, 1500, "Hola Mundo"
					<ul style="color: deeppink;">
						anidada = numero, "Hola", "Mundo", 15
					</ul>
				</p>
				<h4 style="color: cornflowerblue;">DICCIONARIOS</h4>
				<P>
					Es un tipo de dato similar al de una lista o arreglos (en otros lenguajes); pero trabajan con llaves y valores <br>
					en vez de índices. Cada valor está almacenado en un diccionario que puede ser accedido usando una clave en cualquier <br>
					tipo de objeto (una cadena, número, lista, etc) en vez de usar un índice para referirise. <br>
					Se conocen como de <strong>tipo 'dict'</strong>. <br>
					<ul style="color: deeppink;"> 
						Por ejemplo:
						<table style="color: deeppink;">
							<td>
								agendatelefonica = { <br>
									"juan" : 3424123456, <br> 
									"Ana"  : 3784546235, <br>
									"María" : 3794556710
								}
							</td>
							<td>
								famosos = { <br>
									1 : "Lionel Andres Messi Cuccittini", <br>
									6 : "Cristiano Ronaldo", <br> 
									10 : "Diego Armando Maradona"
								}
							</td>
						</table>
					</ul>
				</P>
				<h4 style="color: cornflowerblue;">NONE</h4>
				<p>
					Python incorpora un quinto tipo de dato que estrictamente hablando se llama <strong>NoneType</strong> y <br>
					cuyo único valor posible es None. <br>
					A menudo None es utilizado cuando se quiere crear una variable (puesto que Python no <br> 
					distingue la creación de la asignación: crear una variable es simplemente darle un valor) pero <br>
					aún no se le quiere asignar ningún valor en particular; aunque, en definitiva, como dijimos, <br>
					None es también un valor. 
					<ul style="color: deeppink;">
						Por ejemplo: x = None
					</ul>
				</p>
			</center>
		</article>
		<!--Modificar padding despues para que quede todo mas parejo y prolijo-->
	</section>
</body>
</html>