{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Estructura de Control Repetitivas</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/repetitivas.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<header>
		<h1>Estructura de Control Repetitivas</h1>
	</header>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">Introducción</h2>
				<ul>
					<img src="{% static 'img/parablog5.jpg'%}">
				</ul>
				<p>
					Durante el proceso de creación de programas, es muy común, encontrase con que una operación <br>
					o conjunto de operaciones <strong>deben repetirse muchas veces.</strong>
				</p>
				<p>
					Para ello es importante conocer las estrucutras que permiten <strong>repetir <br>
					una o varias accione, un número determinado de veces.</strong>
				</p>
				<p>
					Las estructuras que repiten una secuencia de instrucciones un número determinado de veces se <br>
					denominan estructuras repetitivas, interativas o cíclicas. 
				</p>
				<p>
					<strong>Cada conjunto de instrucciones a ejecutar se denomina BUCLE. <br>
					Y cada repetición del bucle se llama ITERACIÓN.</strong>
				</p>
				<br>
				<p>
					Todo bucle tiene que llevar asociada una condición, que es la que va a determinar <strong>cuándo se <br>
					repite el bucle</strong> y <strong>cuándo deja de repetirse.</strong>
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<h2 style="color: #C66250;">
					Antes de continuar veremos tipos de variables especiales que <br>
					podríamos requerir para diseñar nuestros programas
				</h2>
				<h3 style="color: cornflowerblue;">Contadores, Acumuladores y Banderas</h3>
				<p>
					En muchos programas se necesitan variables que <strong>cuenten cuántas veces ha <br>
					ocurrido algo</strong> (contadores), que indiquen si simplemente <strong>ha ocurrido un <br>
					evento</strong> (banderas) o que <strong>acumulen valores</strong> (acumuladores).
				</p>
				<p>
					La situaciones pueden ser muy diversas, por lo que en este apartado simplemente se ofrecen <br>
					unos ejemplos para que entiendas cómo utlizar estos recursos: 
				</p>
				<table style="width: 58%;">
					<tr>
						<td>
							<ul>
								<li>
									<strong>Contador:</strong><br>
									Los procesos repetitivos requieren contar los sucesos y acciones internas, una forma de <br>
									hacerlo es mediante un contador. <br><br>
									<strong style="color: blue;">
										Un contador es una variable cuyo valor se incrementa o decrementa en una cantidad <br>
										constante en cada repetición.
									</strong>
									<br><br>
								</li>
								<li>
									<strong>Acumalador:</strong><br>
									Un <strong>acumulador</strong> o totalizador es una variable cuya función es almacenar <br>
									cantidades resultantes de opreciones sucesivas. <br><br>
									<strong style="color: blue;">
										Realizar la misma función que un contador con la diferencia de que el incremento o <br>
										decremento es variable en lugar de constantes.
									</strong>
									<br><br>
								</li>
								<li>
									<strong>Banderas:</strong><br>
									Una <strong>bandera</strong>, es una variable que puede tomar uno de dos valores <br>
									(verdadero o falso) a lo largo de la ejecución del programa y permite comunicar <br>
									información de una parte a otra del mismo.
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Sentencia While (mientras)</h3>
				<p>
					Un <strong>bucle while</strong> permite repetir la ejecución de un grupo de instrucciones mientras se cumpla <br>
					una condición (es decir, mientras la condición tenga el valor True).
				</p>
				<p>
					Queda en las manos del programador decidir el momento en que la <strong>condición cambie a False</strong> para <br>
					hacer que el <strong>ciclo While finalice.</strong>
				</p>
				<p>
					<strong>Características:</strong>
					<ul>
						<li>
							No se conoce la cantidad de veces a iterar o repetir el conjunto de acciones.
						</li>
						<li>
							El final del bucle está controlado con una condición.
						</li>
						<li>
							El conjunto de acciones se ejecutan mientras la evolución de la condición devuelva un <br>
							resultado verdadero.
						</li>
						<li>
							El ciclo se puede ejecutar 0 o más veces.
						</li>
					</ul>
				</p>
				<table>
					<tr>
						<th>Código</th>
					</tr>
					<tr>
						<td>
							Dado un número entero N calcular la suma de todos los números entre 1 y N. <br><br>
							<strong style="color: forestgreen;">
								cont = 0 <br>
								suma = 0 <br>
							</strong>
							<strong style="color: blue;"> N = int(input("Ingrese tope maximo: "))</strong><br>
							<strong>while cont <= N:</strong> 
							<ul style="color: red;">
								<strong>
									suma = suma + cont <br>
									cont = cont + 1 
								</strong>
							</ul>
							<strong>print("La suma total es: ", suma)</strong>
						</td>
					</tr>
					<tr>
						<th>Resultado</th>
					</tr>
					<tr>
						<td>
							Ingresa N = 3 <br>
							cont vale 0 <br>
							cont vale 1 <br>
							cont vale 2 <br>
							cont vale 3 <br>
						</td>
						<td>
							suma vale 0 <br>
							suma vale 1 <br>
							suma vale 3 <br>
							suma vale 6 <br>
							La suma total es 6
						</td>
					</tr>
				</table>
				<p>
					Otra ventaja del blucle while es que el <strong>número de iteraciones no está definida</strong> antes de <br>
					empezar el bucle, por ejemplo, porque los datos los proporciona el usuario.
				</p>
				<p>
					Por ejemplo, el siguiente ejemplo pide un número positivo al usuario una y otra vez hasta que el <br>
					usuario lo haga correctamente:
				</p>
				<table>
					<tr>
						<th>Código</th>
					</tr>
					<tr>
						<td>
							<strong style="color: blue;">numero = int(input("Escriba un numero positivo: "))</strong><br>
							<strong>while numero < 0:</strong>
							<ul style="color: red;">
								<strong>print("¡ha escrito un número negativo! Inténtelo de nuevo")</strong><br>
								<strong>numero = int(input("Escriba un numero positivo: "))</strong>
							</ul>
							<strong>print("Gracias por su colaboración")</strong>
						</td>
					</tr>
					<tr>
						<th>Resultado</th>
					</tr>
					<tr>
						<td>
							Escriba un número positivo: -4 <br>
							¡ha escrito un número negativo! Inténtelo de nuevo <br>
							Escriba un número positivo: -8 <br>
							¡ha escrito un número negativo! Inténtelo de nuevo <br>
							Escriba un número positivo: 9 <br>
							Gracias por su colaboración
						</td>
					</tr>
				</table>
			</center>
		</article>
		<article class="post">
			<center>
				<h3 style="color: cornflowerblue;">Uso de else en While</h3>
				<p>
					Se encadena al While para ejecutar un bloque de código una vez la condición ya no devuelve <br>
					True (normalmente al final):
				</p>
				<table>
					<tr>
						<th>Código</th>
					</tr>
					<tr>
						<td>
							<strong style="color: forestgreen;">c = 0</strong> <br>
							<strong>while c <= 5:</strong>
							<ul style="color: red;">
								<strong>
									c+=1 <br>
									print("c vale", c)
								</strong>
							</ul>
							<strong>else:</strong>
							<ul style="color: red;">
								<strong> print("Se ha completado toda la iteración y c vale", c)</strong>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Resultado</th>
					</tr>
					<tr>
						<td>
							c vale 1 <br>
							c vale 2 <br>
							c vale 3 <br>
							c vale 4 <br>
							c vale 5 <br>
							c vale 6 <br>
							Se ha completado toda la iteración y c vale 6
						</td>
					</tr>
				</table>
			</center>
		</article>
		<article class="psot">
			<center>
				<h3 style="color: cornflowerblue;">Sentencia for (para)</h3>
				<ul>
					<li>
						Ahora <strong>SI se conoce la cantidad de veces a iterar</strong> o <strong>repetir</strong> el conjunto de acciones <br>
					</li>
					<li>
						El <strong>final del bucle</strong> está controlado un contador (indica cantidad de iteraciones).
					</li>
					<li>
						La <strong>variable contador</strong> que maneja el bucle se incrementa automáticamente de acuerdo <br>
						al incremento indicado.
					</li>
					<li>
						No necesita <strong>inicialización</strong>
					</li>
				</ul>
				<p>
					La sintaxis de un bucle for es la siguiente: 
				</p>
				<table>
					<tr>
						<th>Código</th>
					</tr>
					<tr>
						<td>
							<strong>for variable in elemento iterable (lista, cadena, range, etc.):</strong><br>
							cuerpo del blucle
						</td>
					</tr>
				</table>
				<p>
					El cuerpo del bucle se ejecuta tantas veces como elementos tenga la estructura <br>
					iterable (elementos de una lista o de un range(), caracteres de una cadena, etc.).
				</p>
				<h3 style="color: cornflowerblue;">Utilizando tipos range()</h3>
				<p>
					Una de las ventajas de utilizar tipos <strong>range()</strong> es que el argumento del tipo <strong>range()</strong> controla el <br>
					número de veces que se ejecuta el bucle. Sirve para generar una lista de números que podemos <br>
					recorrer fácilmente, pero no ocupa memoria porque se interpreta sobre la marcha:
				</p>
				<table>
					<tr>
						<th>Código</th>
					</tr>
					<tr>
						<td>
							<strong style="color: red;">print(Comienzo)</strong> <br>
							<strong>for i in range(3)</strong>
							<ul>
								<strong style="color: red;">print("Hola ", end="")</strong>
							</ul>
							<strong>print("Final")</strong>
						</td>
					</tr>
					<tr>
						<th>Resultado</th>
					</tr>
					<tr>
						<td>
							comienzo <br>
							Hola Hola Hola <br>
							Final
						</td>
					</tr>
				</table>
			</center>
		</article>
		<article class="post">
			<center>
				<h3>Control de Bucles</h3>
				<h4 style="color: cornflowerblue;">Instrucción break</h4>
				<p>
					Se puede usar en bucles <strong>for</strong> y <strong>while</strong> y simplemente <strong>termina el bucle actual</strong> y sigue con la <br>
					ejecución de la próxima instrucción, por ejemplo: 
				</p>
				<ol type="a">
					<li>
						Controlar fin de bucle
						<br>
						<table>
							<tr>
								<td>
									while True:
									<ul>
										op = input("Ingrese cualquier palabra, que termine con FIN--> ") <br>
										if op = 'FIN': <br>
										break
									</ul>
									else:
									<ul>
										print(op)
									</ul>
									print("Terminó la ejecución con FIN")
								</td>
							</tr>
						</table>
					</li>
					<br>
					<li>
						La sentencia break es usada también para terminar un ciclo aun <br>
						cuando la evolución de la condición no devuelva False, <br><br>
						<h4># Primer ejemplo</h4>
						<table>
							<tr>
								<td>
									for letra in "Python": 
									<ul>
										if letra == "h": <br>
										break <br>
										print("Letra actual :", letra)
									</ul>
								</td>
							</tr>
						</table>
						<br>
						<img src="{%static 'img/parablog40.jpg'%}">
						<br><br>
						<h4># Segundo ejemplo</h4>
						<table>
							<tr>
								<td>
									var = 10 <br>
									while var > 0:
									<ul>
										if var == 5: <br>
										break
									</ul>
									print("Valor actual de la variable :", var)
								</td>
							</tr>
						</table>
					</li>
				</ol>
				<h4 style="color: cornflowerblue;">Sentencia continue</h4>
				<p>
					Al aparecer un <strong>continue</strong> en Python, este regresa al comienzo del bucle, ignorando todos los <br>
					estamentos que quedan en la iteración actual del bucle e inicia la siguiente iteración. Queda <br>
					más claro con un ejemplo:  
				</p>
				<h4># Primer ejemplo</h4>
				<table>
					<tr>
						<td>
							for letra in "Python":
							<ul>
								if letra == "h":
								<ul>
									continue
								</ul>
								print("Letra actual :", letra)
							</ul>
						</td>
					</tr>
				</table>
				<br><br>
				<img src="{% static 'img/parablog41.jpg'%}">
				<br><br>
				<h4># Segundo ejemplo</h4>
				<table>
					<tr>
						<td>
							var = 10 <br>
							while var > 0:
							<ul>
								var = var -1 <br>
								if var == 5:
								<ul>
									continue
								</ul>
								print("Valor actual de la variable : ", var	)
							</ul>
						</td>
					</tr>
				</table>
				<br><br>
				<img src="{% static 'img/parablog42.jpg'%}">
				<br><br>
			</center>
		</article>
	</section>
</body>
</html>