{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Manejo de Variables y Tipos de Datos</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/variablesDatos.css">
</head>
<body>
	<header>
		<h1>Manejo de Variables y Tipos de Datos</h1>
	</header>
	<section>
		<article class="post">
			<h2>Como un susbtutilo de lo que quiero hablar</h2>
			<p>Descripcion de lo que quiero seguir hablando</p>
			<!--aca va una imagen si quiero-->
			<p>Otro parrafo si quiero seguir hablando</p>
		</article>
	</section>
</body>
</html>