{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Manejo de Variables y Tipos de Datos</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/variablesDatos.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		footer {
			background-color: #364552;
			padding: 3rem;
			color: #efefef;
		}
		footer section {
			float: right;
		}
		footer p {
			margin: 0;
		}
		footer a {
			transition: color 0.3s ease;
			color: #efefef;
			text-decoration: none;
		}
		footer a:hover {
			color: cornflowerblue;
		}
	</style>
</head>
<body>
	<header>
		<h1>Manejo de Variables y Tipos de Datos</h1>
	</header>
	<section class="conteiner">
		<article class="post">
			<h2>¿Qué es una <b>Variable</b>?</h2>
			<p>
				Son elementos que nos permiten guardar un dato <br>
				para que pueda ser accesible fácilmente, manipulado <br>
				y transformado a lo largo de un programa.
			</p>
		</article>
		<article class="post">	
			<h2 style="color: black;">Manejo de Variables en Python</h2>
			<ul>
				<li>
					Para definir una variable en Python, basta con nombrarla y definir su valor.
				</li>
				<li>
					Para modificar el valor de una variable en Python basta con asignarle un nuevo valor <br>
					despúes de definirla.
				</li>
				<li>
					Se puede asignar a una variable un valor literal, una expresión, una llamada a una función <br>
					o una combinación de todos ellos.
				</li>
				<li>
					Para crear y darle valores a nuevas variables utilizamos la operación de asignación (=).
				</li>
			</ul>
		</article>
		<article class="post">
			<h2 style="color: black;">Nombres de Variables en Python</h2>
			<ul>
				<li>
					Pueden empezar con una letra o un guión bajo, por convención no usamos mayúsculas.
				</li>
				<li>
					Son "Case sensitive", es decir, distingue si contienen mayúsculas o minúsculas.
				</li>
				<li>
					No se puede utilizar palabras claves o reservadas de Python como nombres de variables.
				</li>
				<li>
					Pueden contener letras, números y se puede usar el guión bajo (_).
				</li>
			</ul>
		</article>
	</section>
	<section>
		<article class="post">
			<center>
				<h2 style="color: #2F73C4;">Operadores en Python: (Matemáticos)</h2>
				<p>
					Antes que nada, estaria bueno que <b>copien y prueben los códigos <br>
					de ejemplo</b> que veran acontinuacion.
					<h3 style="color: #D17362 ">Suma</h3>
					<ul>
						<img src="{% static 'img/parablog20.jpg'%}">
					</ul>
				</p>
				<hr>
				<p>
					<h3 style="color: #D17362 ">Resta</h3>
					<ul>
						<img src="{% static 'img/parablog21.jpg'%}">
					</ul>
				</p>
				<hr>
				<p>
					<h3 style="color: #D17362 ">División</h3>
					<ul>
						<img src="{% static 'img/parablog22.jpg'%}">
					</ul>
				</p>
				<hr>
				<p>
					<h3 style="color: #D17362 ">Multiplicación</h3>
					<ul>
						<img src="{% static 'img/parablog23.jpg'%}">
					</ul>
				</p>
				<hr>
				<p>
					<h3 style="color: #D17362 ">Módulo</h3>
					<ul>
						<img src="{% static 'img/parablog24.jpg'%}">
					</ul>
				</p>
				<hr>
				<p>
					<h3 style="color: #D17362 ">Potencia</h3>
					<ul>
						<img src="{% static 'img/parablog25.jpg'%}">
					</ul>
				</p>
				<h2 style="color: #2F73C4;">Operadores en Python: (Lógicos)</h2>
				<p>
					Se utiliza un operador lógico para tomar una decisión basada en múltiples condiciones. <br>
					Los operadores lógicos utilizados en Python son <b>and, or y not</b>.
					<ul>
						<img src="{% static 'img/parablog26.jpg'%}">
					</ul>
				</p>
				<h2 style="color: #2F73C4;">Operadores en Python: (Strings)</h2>
				<p>
					Las cadenas (o strings) <b>son un tipo de dato compuesto por secuencias de caracteres que representan texto</b>.<br>
					Estas cadenas de texto son de tipo str y se delimitan mediante el uso de <b>comillas simples o dobles</b>.
					<ul>
						<img src="{% static 'img/parablog27.jpg'%}">
					</ul>
				</p>
			</center>
			<hr>
		</article>
		<article class="post">
			<center>
				<h2>¿Qué es un Dato?</h2>
				<p>
					<b>Es una representación simbólica</b> (numérica, alfabética, etc.) de un atributo <br>
					o cualidad de una entidad.
				</p>
				<p>
					Los <b>datos</b> aisladamente pueden no contener información pero si los analizamos <br>
					en conjunto sirven para realizar cálculos o tomar decisiones.
				</p>
				<h3>Datos en Python</h3>
				<p>
					En Python todos los datos son referencias a objetos (no son constantes ni variables), <br>
					son como etiquetas para poder identificarlos.
				</p>
				<p>
					Los objetos en Python pueden ser 'mutables' si pueden modificarse algunas posiciones <br>
					del dato o 'inmutables' si no pueden modificarse.
				</p>
			</center>
		</article>
		<article class="post">
			<center>
				<h2>Tipos de Datos en Python</h2>
				<p>
					El tipo de un dato está definido por el conjunto de valores que pueden tomar a lo largo <br>
					de un programa.
				</p>
				<p>
					Para ver los tipos de datos a continuación usaremos la <b>función type()</b>, que nos devuelve <br>
					el tipo de objeto que enviamos como argumento.
				</p>
				<h2>Tipos de Datos en Python: (Números)</h2>
				<h3 style="color: #2F73C4;">Real</h3>
				<ul>
					<img src="{% static 'img/parablog28.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Complejo</h3>
				<ul>
					<img src="{% static 'img/parablog29.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Cadena o String</h3>
				<ul>
					<img src="{% static 'img/parablog30.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Booleano</h3>
				<ul>
					<img src="{% static 'img/parablog31.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Conjunto</h3>
				<ul>
					<img src="{% static 'img/parablog32.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Lista</h3>
				<ul>
					<img src="{% static 'img/parablog33.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Tupla</h3>
				<ul>
					<img src="{% static 'img/parablog34.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">Diccionario</h3>
				<ul>
					<img src="{% static 'img/parablog35.jpg'%}">
				</ul>
				<hr>
				<h3 style="color: #2F73C4;">None</h3>
				<ul>
					<img src="{% static 'img/parablog36.jpg'%}">
				</ul>
			</center>
		</article>
		<article class="post">
			<center>
				<p>
					Prueba los ejemplos en su equipo o computadora (como quiera llamarlo), <br>
					para ir practicando y agilizando un poco las cosas.
				</p>
				<p style="color: #F1300D">
					<b>Nota: en algunas imagenes (en los codigos) van a notar que hay puntos y comas (;) <br>
					al final de las instruciones. En Python no es necesario el punto y coma (;) vale aclarar.</b>
				</p>
			</center>
		</article>
	</section>
	<footer>
		<section>
			<a href="#">Ir al comienzo</a>
		</section>
	</footer>
</body>
</html>