{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Manejo de Variables y Tipos de Datos</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/variablesDatos.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Manejo de Variables y Tipos de Datos</h1>
	</header>
	<section class="conteiner">
		<article class="post">
			<h2>¿Qué es una <b>Variable</b>?</h2>
			<p>
				Son elementos que nos permiten guardar un dato <br>
				para que pueda ser accesible fácilmente, manipulado <br>
				y transformado a lo largo de un programa.
			</p>
		</article>
		<article class="post">	
			<h2 style="color: black;">Manejo de Variables en Python</h2>
			<ul>
				<li>
					Para definir una variable en Python, basta con nombrarla y definir su valor.
				</li>
				<li>
					Para modificar el valor de una variable en Python basta con asignarle un nuevo valor <br>
					despúes de definirla.
				</li>
				<li>
					Se puede asignar a una variable un valor literal, una expresión, una llamada a una función <br>
					o una combinación de todos ellos.
				</li>
				<li>
					Para crear y darle valores a nuevas variables utilizamos la operación de asignación (=).
				</li>
			</ul>
		</article>
		<article class="post">
			<h2 style="color: black;">Nombres de Variables en Python</h2>
			<ul>
				<li>
					Pueden empezar con una letra o un guión bajo, por convención no usamos mayúsculas.
				</li>
				<li>
					Son "Case sensitive", es decir, distingue si contienen mayúsculas o minúsculas.
				</li>
				<li>
					No se puede utilizar palabras claves o reservadas de Python como nombres de variables.
				</li>
				<li>
					Pueden contener letras, números y se puede usar el guión bajo (_).
				</li>
			</ul>
		</article>
	</section>
</body>
</html>