{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="keywords" content="ChatBot Info-Python - Chatty - chatty - chatbot chatty - ChatBot Chatty">
	<meta name="description" content="">
	<title>Chatbot Chatty</title>
	<link rel="stylesheet" href="../../static/css/nicepage03.css" media="screen">
	<link rel="stylesheet" href="../../static/css/chatbot-chatty/chatbot-chatty.css" media="screen">
	<script class="u-script" type="text/javascript" src="{% static 'js/jquery03.js' %}" defer=""></script>
	<script class="u-script" type="text/javascript" src="{% static 'js/nicepage03.js' %}" defer=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="../../static/img/icon/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png">
	<meta name="referrer" content="origin">
	<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

	<style>
		.bot-image {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #ccc;
			background-image: url('../../static/img/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png');
			background-position: center;
			background-size: cover;
		}
	</style>

	<script type="application/ld+json">
		{
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "",
				"logo": "images/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png"
		}
	</script>
	<meta name="theme-color" content="#232b79">
	<meta property="og:title" content="Chatbot Chatty">
	<meta property="og:type" content="website">
	<meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-overlap u-xl-mode" data-lang="es">
	<header class="u-clearfix u-header u-header" id="sec-a184" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
		<div class="u-clearfix u-sheet u-sheet-1">
			<a href="{% url 'principal' %}" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="752">
				<img src="{% static 'img/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png' %}" class="u-logo-image u-logo-image-1">
			</a>
			<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
				<div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
					<a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
						<svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
						<svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                        </g></svg>
					</a>
				</div>
				<div class="u-custom-menu u-nav-container">
					<ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
						{% if not user.is_authenticated %}
						    <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-4-base" href="{% url 'login' %}" style="padding: 16px 28px;">Iniciar Sesion</a>
						    </li>
                        {% else %}
                            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-4-base" href="#" style="padding: 16px 28px;">Hola {{user}} espero que disfutes del contenido</a>
                            </li>
                        {% endif %}
					</ul>
				</div>
				<div class="u-custom-menu u-nav-container-collapse">
					<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
						<div class="u-inner-container-layout u-sidenav-overflow">
							<div class="u-menu-close"></div>
							<ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:intro' %}" style="padding: 10px 20px;">Introducción a Python</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:entorno' %}" style="padding: 10px 20px;">Entorno de Desarollo</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:variablesDatos' %}" style="padding: 10px 20px;">Manejo de Variables y Tipos de Datos</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:manejo' %}" style="padding: 10px 20px;">Manejo de Variables</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:condicionales' %}" style="padding: 10px 20px;">Condicionales</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:repetitivas' %}" style="padding: 10px 20px;">Repetitivas</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:funciones' %}" style="padding: 10px 20px;">Funciones</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:listas' %}" style="padding: 10px 20px;">Listas</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:tuplas' %}" style="padding: 10px 20px;">Tuplas</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:diccionarios' %}" style="padding: 10px 20px;">Diccionarios</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:errores' %}" style="padding: 10px 20px;">Manejo de Errores</a></li>
								<li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'usuarios:poo' %}" style="padding: 10px 20px;">POO</a></li>
							</ul>
						</div>
					</div>
					<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
				</div>
			</nav>
		</div>
	</header>
	<section class="u-align-center u-clearfix u-image u-section-1" id="sec-fbf7" data-image-width="1782" data-image-height="1080">
		<div class="u-clearfix u-sheet u-sheet-1">
			<img class="u-image u-image-circle u-image-contain u-image-1" src="{% static 'img/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png' %}" alt="chatbot info-python" data-image-width="1280" data-image-height="752" data-animation-name="customAnimationIn" data-animation-duration="3500">
			<h1 class="u-align-left u-hover-feature u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="3500">ChatBot Chatty</h1>
			<p class="u-align-left u-hover-feature u-text u-text-body-alt-color u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="3250">Utilizando y basado en la API de Chat GPT, impulsando la inteligiencia artificial (IA)</p>


			<div class="u-black u-expanded-width-xs u-form u-radius-26 u-form-1">
				<form id="chat-form" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 16px;" source="email" name="form">
                    {% csrf_token %}
					<div class="u-form-group u-form-message u-label-none">
                        <div id="chat-container" class="hljs" ></div>
						<textarea placeholder="Escribe tu mensaje..." rows="5" cols="50" id="message-input" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-text-black u-input-1" required=""></textarea>
					</div>
					<div class="u-align-center u-form-group u-form-submit">
						<a href="#" class="u-border-2 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-palette-4-base u-text-body-color u-btn-1">Enviar</a>
						<input type="submit" value="submit" class="u-form-control-hidden">
					</div>
					
				</form>
			</div>


			<div class="u-align-left u-image u-image-circle u-image-2" alt="info-python and chat gpt openai" data-image-width="1280" data-image-height="812" data-animation-name="bounceIn" data-animation-duration="3500" data-animation-direction=""></div>
			<img class="u-image u-image-circle u-preserve-proportions u-image-3" src="{% static 'img/df6bcb53b11a216c20e5620450e34a44f66007acbf9e10ac64f0a6c542da145deccc604d3cfcd19b6c17b1a9100b6647b36bc85f3e5a062afb8309_1280.png' %}" alt="chat gpt " data-image-width="1280" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="3500">
		</div>


	</section>


	<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b796">
		<div class="u-clearfix u-sheet u-sheet-1">
			<p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
		</div>
	</footer>
	<section class="u-backlink u-clearfix u-grey-80">
		<a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
			<span>Website Templates</span>
		</a>
		<p class="u-text">
			<span>created with</span>
		</p>
		<a class="u-link" href="" target="_blank">
			<span>Website Builder Software</span>
		</a>.
	</section>
    <script>
        // Seleccionamos el formulario

        const form = document.querySelector('#chat-form');

        // Escuchamos el evento 'submit' del formulario
        form.addEventListener('submit', (e) => {
        // Prevenimos el comportamiento por defecto del formulario (enviar los datos y recargar la página)
        e.preventDefault();

        // Seleccionamos el input donde se ingresa el mensaje
        const input = document.querySelector('#message-input');

        // Obtenemos el mensaje ingresado
        const message = input.value;

        // Limpiamos el input
        input.value = '';

        // Creamos un objeto con los datos que queremos enviar
        const formData = new FormData();
        formData.append('message', message);

        // Enviamos los datos mediante AJAX
        fetch('/chatbot/', {
            method: 'POST',
            body: formData,
            headers: { 'X-CSRFToken': getCookie('csrftoken') } // Incluimos el token CSRF en los headers
        })
            .then(response => response.text())
            .then(data => {
                console.log(data)
            // Agregamos la respuesta del bot al chat
            const chatContainer = document.querySelector('#chat-container');
            chatContainer.innerHTML += `<p><strong>Tú:</strong> ${message}</p>`;
            //chatContainer.innerHTML += `<p><strong>Bot:</strong> ${data}</p>`;

            // Detectamos si la respuesta es código
            if (data.startsWith('```') && data.endsWith('```')) {
                // Eliminamos las marcas de "```"
                const code = data.substring(3, data.length - 3);
                // Resaltamos el código utilizando Highlight.js
                const highlighted = hljs.highlightAuto(code).value;
                // Agregamos el código resaltado al chat
                chatContainer.innerHTML += `<pre><code class="hljs">${highlighted}</code></pre>`;
                //highlightCode();
                hljs.highlightAll();
            } else {
                // Si la respuesta no es código, la agregamos al chat tal cual
                chatContainer.innerHTML += `<img src="{% static 'img/43efa79c47dcd9ed2b21331f3b124384201f52798dae686f1b3a5685b13ba37f28b28c474941c049ddd07cc5050e5eebf8a671e03bc5523f9364a1_1280.png' %}" alt="Bot" class="bot-image"> ${data}`;
            }
            })
            .catch(error => console.error(error));
            });

        // Función para obtener el valor de la cookie CSRFToken
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
        }
    </script>

</body>
</html>