{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="keywords" content="Creador de Imagenes - Jarvis">
		<meta name="description" content="">
		<title>Jarvis Genereador de imagenes</title>

		<link rel="stylesheet" href="../../static/css/nicepage04.css" media="screen">
		<link rel="stylesheet" href="../../static/css/Jarvis-Generador-de-img/jarvis.css" media="screen">
		<script class="u-script" type="text/javascript" src="{% static 'js/jquery04.js' %}" defer=""></script>
		<script class="u-script" type="text/javascript" src="{% static 'js/nicepage04.js' %}" defer=""></script>
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="shortcut icon" href="../../static/img/icon/60a5fe6fd76ca973f6e61e7686b333097b869a26f9d644f97b30e395c40d82ff666cd7e8a6faab55645ebaa427ee332ce5e72576439ae81e351458_1280.png">

		<meta name="referrer" content="origin">
		<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


		<script type="application/ld+json">
			{
					"@context": "http://schema.org",
					"@type": "Organization",
					"name": "",
					"logo": "/images/60a5fe6fd76ca973f6e61e7686b333097b869a26f9d644f97b30e395c40d82ff666cd7e8a6faab55645ebaa427ee332ce5e72576439ae81e351458_1280.png",
					"sameAs": [
							"https://facebook.com/name",
							"https://instagram.com/name"
					]
			}
		</script>
		<meta name="theme-color" content="#232b79">
		<meta property="og:title" content="Jarvis Genereador de imagenes">
		<meta property="og:type" content="website">
		<meta data-intl-tel-input-cdn-path="intlTelInput/">
	</head>
	<body class="u-body u-overlap u-xl-mode" data-lang="es">
		<header class="u-align-center-sm u-align-center-xs u-clearfix u-header" id="sec-a184" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
			<div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
				<a href="{% url 'principal' %}" class="u-image u-logo u-image-1" data-image-width="1086" data-image-height="1280">
					<img src="{% static 'img/60a5fe6fd76ca973f6e61e7686b333097b869a26f9d644f97b30e395c40d82ff666cd7e8a6faab55645ebaa427ee332ce5e72576439ae81e351458_1280.png' %}" class="u-logo-image u-logo-image-1">
				</a>
				<nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1">
					<div class="menu-collapse" style="font-size: 1rem;">
						<a class="u-button-style u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-nav-link u-text-white" href="#" style="font-size: calc(1em + 16px);">
							<svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use></svg>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
						</a>
					</div>
					<div class="u-custom-menu u-nav-container">
						<ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
							<li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-4-base" href="/Jarvis-Genereador-de-imagenes.html" target="_blank" style="padding: 16px;">Login</a>
							</li>
						</ul>
					</div>
					<div class="u-custom-menu u-nav-container-collapse">
						<div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
							<div class="u-inner-container-layout u-sidenav-overflow">
								<div class="u-menu-close"></div>
								<ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
									<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Jarvis-Genereador-de-imagenes.html" target="_blank">Login</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
					</div>
				</nav>
			</div>
		</header>
		<section class="u-clearfix u-image u-section-1" id="sec-ab9b" data-image-width="1782" data-image-height="1080">
			<div class="u-clearfix u-sheet u-sheet-1">
				<h1 class="u-hover-feature u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="3750">Creador de Imagenes - Jarvis</h1>
				<p class="u-hover-feature u-text u-text-body-alt-color u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="4250" data-animation-direction="">Utilizando y basandose en la Inteligencia Artificial creadora de imagenes DALL-E<br>Desarrollada por Openai.&nbsp;<br>Impulsando la Inteligencia Artificial.
				</p>
				<img class="u-image u-image-contain u-image-default u-opacity u-opacity-70 u-image-1" src="{% static 'img/60a5fe6fd76ca973f6e61e7686b333097b869a26f9d644f97b30e395c40d82ff666cd7e8a6faab55645ebaa427ee332ce5e72576439ae81e351458_1280.png' %}" alt="soy jarvis - Generador de imagenes" data-image-width="1086" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="5000">
				<div class="u-align-center u-black u-expanded-width-xs u-form u-radius-44 u-form-1">
					<form method="POST" action="{% url 'Jarvis' %}" class="form" style="padding: 30px;" source="email" name="form">
						{% csrf_token %}
						<div class="u-form-group u-form-name u-label-none">
							<label for="text" class="u-label">Introduce un texto:</label><!--name-3b9a-->
							<input type="text" placeholder="Introduce un texto:" id="text" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle u-input-1" required="" autofocus="autofocus">
						</div>
						<br><br>
						<div class="u-align-center u-form-group u-form-submit">
							<a href="#" class="u-border-2 u-border-hover-grey-70 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-text-body-alt-color u-btn-1">Generar imagen</a>
							<input type="submit" value="submit" class="u-form-control-hidden">
						</div>
					</form>
				</div>
			</div>


		</section>


		<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b796">
			<div class="u-clearfix u-sheet u-valign-bottom-xs u-sheet-1">
				<h3 class="u-headline u-text u-text-default u-text-1">
          <a href="/">Redes Sociales</a>
        </h3>
				<div class="u-social-icons u-spacing-30 u-social-icons-1">
					<a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-text-black u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d87b"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d87b"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
						c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          			</a>
					<a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-text-black u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2223"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-2223"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
						z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
						C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
						c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          			</a>
				</div>
				<a href="mailto:info@site.com" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1"></a>
			</div>
		</footer>
		

	</body>
</html>